@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');


@media screen and (max-width: 576px) {
    .main-title {
        font-size: 20px;
    }
}

*{
    margin: 0px;
    padding: 0px;
    font-family: "Noto Sans KR", sans-serif;
    user-select: none;

    cursor: url(./img/pixel_cursor2.png)1 1, auto;
}

/*몸통 설정*/
body{
    margin:  auto;
    background-image: url(img/Paper-Texture-5.jpg);
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* /////////////////////////////// 메인 인텍스 코드 /////////////////////////////// */
/* 링크 데코 없애기 */
a {
    text-decoration: none;
    color: white;
}


/* 홈페이지 값 */
html{
    font-size: 10px;
}

/*/////////////////////헤더/////////////////////*/

.headerBox .headerName {
    margin-left: calc(100% - 89.5%);
    margin-top: 18px;
    margin-bottom: 18px;
}

.headerBox .headerName a{
    font-size: 1.8rem;
    font-weight: 800;
    color: #e7420b;
}

.headerBox .headerName a:hover{
    font-size: 1.8rem;
    font-weight: 800;
    color: rgb(25, 98, 194);
    cursor: pointer;
}

.whereHr {
    border: none;
    height: 0;
    border-top: 4px solid #F15928;
    width: 100%;
    max-width: 100vw;
}

/*/////////////////////내용물/////////////////////*/

.allMaintain{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

/*현재시간, 접속자*/
.allMaintain .main_box_ticket {
    margin-top: 7px;
    width: 100%; 
    max-width: 80vw;
    height: auto;
    position: relative;
    display: flex;
}

/*시간 세팅*/

.allMaintain .main_box_ticket .timeContainer .timeText {
    text-align: center;
    z-index: 2;
    margin-right: 9px;
}

.allMaintain .main_box_ticket .timeContainer .timeGo {
    text-align: center;
    z-index: 1;
}

/*접속자 세팅*/

.allMaintain .main_box_ticket .countPersonBox .countText {
    text-align: center;
    z-index: 2;
    margin-right: 9px;
}

.allMaintain .main_box_ticket .countPersonBox .nowCount {
    text-align: center;
    z-index: 1;
    margin-right: 9px;
}

#countUp {
    display: inline-block;
    text-align: right;
}

.allMaintain .main_box_ticket .countPersonBox .countText2 {
    text-align: center;
    z-index: 2;
    margin-right: 9px;
}

/*두개 박스 조정*/
.allTextBox {
    position: absolute;
    left: 50%; 
    top: -5%;
    height: 100%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 3.5vw;
}

.timeContainer, .countPersonBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    box-sizing: border-box;
    max-width: 707.5px;
    font-weight: 600;
}

/*제발 좀 와봐*/
.main_box_ticket, .second_ticket, .third_ticket {
    display: flex;
    justify-content: center; 
    width: 100%;
}

/* 이미지의 최대 너비 설정 */
.allMaintain img {
    max-width: 100%;
    height: auto;
}


/*메인이미지세팅*/
.allMaintain .main_box_ticket img{
    height: auto;    
    max-width: 80vw;
    display: block;
}

.allMaintain .main_box_ticket img:first-child {
    width: 50%;
    max-width: 707.5px;
    margin-right: 5px;
    height: auto;
}

.allMaintain .main_box_ticket img:nth-child(2) {
    width: 50%;
    max-width: 707.5px;
    height: auto;
}


/*두번째*/
.allMaintain .second_ticket {
    margin-top: 5px;
    width: 100%;
    max-width: 80vw;
    position: relative;
    height: auto;
}

.allMaintain .second_ticket .bgBox {
    max-width: 1420px;
    height: auto;
}

.allMaintain .second_ticket .bgBox img {
    width: 100%;
    max-width: 1420px;
    height: auto;
}

.allMaintain .second_ticket .bg_textMytrun {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    font-size: 1.5vw;
}

/* 겹침요소 */
.allMaintain .second_ticket .mutiImage {
    position: absolute;
    height: auto;
    left: 50%;
    top: 22%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 50vw;
}

.allMaintain .second_ticket .mutiImage .mutiSize {
    position: absolute;
    left: 0; 
    top: 0; 
    max-width: 100%;
    height: auto;
    margin: 0;
}

.allMaintain .second_ticket .mutiImage .muti1 {
    transform: rotate(-8deg);
}

/*두번째 이미지 글자*/
.allMaintain .second_ticket .mutiImage .overlayText {
    position: absolute;
    z-index: 5;
    font-weight: 800;
    font-size: 4.5vw;
    display: block;
    text-align: center;
    left: 25%;
    transform: translateY(22%);
}



/*세번째*/
.allMaintain .third_ticket {
    margin-top: 5px;
    width: 100%;
    max-width: 80vw;
    display: flex;
}

.allMaintain .third_ticket img {
    height: auto;
}

.allMaintain .third_ticket img:first-child {
    width: 70%;
    max-width: 990.5px;
    margin-right: 5px;
    height: auto;
}

.allMaintain .third_ticket img:last-child {
    width: 30%;
    max-width: 424.5px;
    height: auto;
}

/*이미지 설정*/
.fade_image {
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.custom-alert {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    width: 300px;
    border-radius: 10px;
}

.alert-content {
    padding: 20px;
    text-align: center;
}

.alert-title {
    font-size: 2rem;
    color: #e7420b;
    font-weight: bold;
    margin-bottom: 10px;
}

.alert-message {
    font-size: 1.4rem;
    margin-top: 7px;
    margin-bottom: 20px;
}

#closeAlert, #confirmYes, #confirmNo {
    padding: 3px 10px;
    margin: 5px;
}


@media (max-width: 768px) {
    .allMaintain .main_box_ticket {
        margin-top: 1vw;
    }

    .whereHr {
        border-top: 0.5vw solid #F15928;
    }

    .footerFixed {
        font-size: 1.2vw;
    }
}

@media (min-width: 1770px) {
    .headerBox .headerName {
        margin-left: calc(100% - 90% + (100vw - 1770px) * 0.4);
    }

    .allMaintain .main_box_ticket .timeContainer {
        font-size: 6.1rem;
    }

    .allMaintain .main_box_ticket .countPersonBox{
        font-size: 6.1rem;
    }

    .allMaintain .second_ticket .mutiImage .overlayText {
        font-size: 7rem;
    }

    .allMaintain .second_ticket .bg_textMytrun {
        font-size: 1.5vw;
    }


}


/*/////////////////////공통/////////////////////*/

.text-kr-normal{font-family: "Noto Sans KR", sans-serif;}
.text-en-normal{font-family: "Newsreader", sans-serif;}

.text-white{color: white;}
.text-black{color: rgb(0, 0, 0);}
.text-gray{color: rgb(44, 49, 69);}
.text-red{color: rgb(255, 0, 0);}
.text-blue{color: #1A58A5;}
.text-orange{color: #F15928;}

.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}


/* 이미지 효과*/
.draw_shadow {
    filter: drop-shadow(2px 2px 2px #979390);
}

/* 푸터 */
footer{
    height: 100px;
    margin: 50px;
    justify-content: space-between;

    font-weight: 500;
    font-size: 1rem;
}
